<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Chat</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{|/css/friend-chat.css|}"/>
</head>
<body>
<div class="menu" >
    <div class="back"><i class="fa fa-chevron-left"></i>
        <img th:src="${'/img/' + user.userProfile.avatar}" draggable="false"/>
    </div>
    <div class="name">
        <p td th:text="${user.username}"/>
    </div>
</div>
<ol class="chat" th:each="chat, i: ${chat}">
    <li class=""
        th:classappend="${chat.sender.id} == ${#authentication.principal.user.id} ? self : other">
       <div class="avatar">

           <img th:src="${chat.sender.id} == ${#authentication.principal.user.id} ? '/img/' + ${chat.receiver.userProfile.avatar} : '/img/' + ${chat.receiver.userProfile.avatar} "/>

        </div>
        <div class="msg">
            <p td th:text="${chat.message}"/>
            <time td th:text="${chat.date}"/>
        </div>
    </li>
</ol>
<form action="form_2" th:action="@{send/{id}(id=${user.id})}" th:object="${Messages}" method="post">

    <input class="textarea" type="text" th:field="*{message}" placeholder="Type here!" />
    </form>
<div class="emojis"></div>
</loop>
</body>
</html>