<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <title>User Panel- list of the cheapest trips </title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{|css/search-result.css|}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<div class="wrapper">
    <section class="hero">
        <header>
            <div class="container">
                <nav class="navbar navbar-light navbar-toggleable-sm">
                    <a href="#" class="navbar-brand mb-0"></a>

                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                            data-target="#headerNav" aria-controls="headerNav" aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div/>

        </header>

        <div class="jumbotron jumbotron-fluid mb-0">
            <div class="container">
                <div class="row justify-content-center text-center">
                    <div class="col-md-10 col-lg-8">
                        <h1 class="display-5">Trip summary page</h1>


                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="sec-about" class="sec-about pt-5 pb-5">
        <div class="container">
            <div class="row justify-content-center text-center">
                <div class="col-md-10 col-lg-8">

                    <h1 class="h4">About us</h1>
                    <p class="mt-4 mb-4">We are a company that searches for the cheapest flights and accommodation. We
                        are here for you! Trust us.</p>
                </div>
            </div>
            <div class="row mt-4">
                <div class="col-sm-4">
                    <h4>saved</h4>

                    <hr/>

                    <h5>
                        150 042 EUR</h5>
                </div>

                <div class="col-sm-4">
                    <h4>users</h4>

                    <hr/>

                    <h5>71 000 </h5>
                </div>

                <div class="col-sm-4">
                    <h4>goal</h4>

                    <hr/>

                    <h5>1</h5>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <h2>Hotel Details</h2>
        <p>Below are the details of your hotel! Have a nice accommodation.</p>
    </div>
    <section id="sec-features" class="sec-features pt-5 pb-5">
        <div class="container" th:each="hotel, rowStat: ${hotels}">
            <div class="row align-items-center">
                <div class="col-md-6">

                    <h3 class="h4">Overview</h3>
                    <p>Name :
                    <td th:text="${hotel.name}"/>
                    </p>
                    <p>Category :
                    <td th:text=" ${hotel.category}">
                    </p>
                    <p>Price :
                    <td th:text=" ${hotel.price}+ ${hotel.currency}">
                    </p>
                    <p>Rating :
                    <td th:text=" ${hotel.webRating}">
                    </p>


                    </td>


                </div>

                <div class="col-md-6 text-center">

                    <img th:src="@{${hotel.image}}" style="width:300px;height:300px;">
                    <img th:src="@{${hotel.image2}}" style="width:300px;height:300px;">

                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-md-6 text-center">
                    <img th:src="@{${hotel.image3}}" style="width:300px;height:300px;">
                </div>

                <div class="col-md-6">
                    <h3 class="h4">Description</h3>

                    <hr/>
                    <td th:if="${hotel.describe = null}"
                        th:text="A hotel offering good value for money. Rest and good location guaranteed!">
                    <td th:text=" ${hotel.describe}">
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6">
                    <h3 class="h4">Contact</h3>
                    <hr/>
                    <p>Address :
                    <td th:text=" ${hotel.address}">
                    </p>
                    <p>Phone :
                    <td th:text=" ${hotel.phone}">
                    </p>
                </div>
                <div class="col-md-6 text-center">
                    <img th:src="@{${hotel.image4}}" style="width:300px;height:300px;">
                </div>
            </div>
            <div class="container" th:each="flight, rowStat: ${flights}">
                <h2>Flight Details</h2>
                <p>Below are the details of your flight! Don't forget to check your baggage details on the carrier's
                    website and be well in advance.
                    Have a nice trip!</p>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Airline</th>
                        <th>Flight number</th>
                        <th>Departure time</th>
                        <th>Return time</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="active">
                        <td th:text=" ${flight.airline}"/>
                        </td>
                        <td th:text=" ${flight.flightNumber}"/>
                        </td>
                        <td th:text=" ${flight.departureTime}"/>
                        </td>
                        <td th:text=" ${flight.returnTime}"/>
                        </td>
                        <td th:text=" ${flight.price}+ ${flight.currency}"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="container" th:each="flight, rowStat: ${flights}">
                <h2>Payment Details</h2>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Your trip has been paid :</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="active">
                        <td th:text=" ${isPaid}"/>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

            <script type="text/javascript">
  /*<![CDATA[*/
      google.charts.load('current', {'packages':['bar']});
      google.charts.setOnLoadCallback(drawStuff);

      function drawStuff() {

        var data = new google.visualization.arrayToDataTable([
         ['Prices', 'Price [[${currency}]] '],
          [ 'Median', [[${median}]]],
          [ 'Minimal',[[${minimalPrice}]]],
          [ 'Highest',[[${highestPrice}]]],
          [ 'Your', [[${price}]]],
          [ 'Average (last 2 years)',[[${average}]]],


        ]);

        var options = {
          width: 500,
          legend: { position: 'none' },
          chart: {
            title: 'Flight details - chart presentation',
            subtitle: '' },
          axes: {
            x: {
              0: { side: 'top', label: 'White to move'} // Top x-axis.
            }
          },
          bar: { groupWidth: "40%" }
        };

        var chart = new google.charts.Bar(document.getElementById('top_x_div'));
        // Convert the Classic options to Material options.
        chart.draw(data, google.charts.Bar.convertOptions(options));
      };
       /*]]>*/


            </script>


            <div id="top_x_div" style="width: 800px; height: 400px;"></div>
    </section>
    </td>
    <h1 class="h4 mb-5 text-center">More questions ?</h1>
    <div class="row">
        <div class="col-sm-12">
            <label for="generate-pdf">Do not forget to print the confirmation!</label>

            <fieldset class="generate-pdf">
                <a href="/PDF/generate" id="generate-pdf" class="btn btn-secondary btn-lg btn-block"
                   role="button">Generate PDF !</a>
            </fieldset>
        </div>
        <div class="col-sm-12">
            <label for="generate-pdf">Any questions? Send a message!</label>

            <fieldset class="contact">
                <a href="/contact" id="contact" class="btn btn-secondary btn-lg btn-block"
                   role="button">Message</a>
            </fieldset>
        </div>
        <div class="col-sm-12">
            <label for="pay">Ready for Your Trip ?</label>
            <fieldset class="form-group text-center">
                <a href="/check-out"
                   class="btn btn-secondary btn-lg btn-block" id="pay"
                   role="button">Pay</a>
            </fieldset>
        </div>
    </div>
</div>
</html>