 h1 {
    font-size: 26px;
     color: #444444 !important;
     font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;
     line-height: 1.5;
}
 h3 {
    font-size: 12px;
     color: #444444 !important;
     font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;
}
 p {
    font-size: 16px;
     color: #ffffff;
     font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", sans-serif;
     line-height: 1.5;
}
 table {
     border: 1px solid #e4e4e4;
}












.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  width: 100%;
  position: relative;
  text-align: center;

}
.rating > span {
  display: inline-block;
  position: relative;
  color: #09c;
  font-size: 40px;
  width: 40px;
}
.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  cursor: pointer;
  color: #09c;
  -webkit-animation: mymove 2s;
  animation: mymove 2s;
  animation-direction:normal;
  -ms-transform: scale(1.2); /* IE 9 */
  -webkit-transform: scale(1.2); /* Safari 3-8 */
  transform: scale(1.2);
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
  from {color: #94e8ff;}
  to {color: #09c;}
}