
div.list-group {
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    background-color: #F7F9FC;

}


div.list-group a {
    background-color: #F7F9FC;

}


div.list-group b {
    position: relative;
    left: 700px;
    top: 80px;


}


div.list-group c {

    position: relative;

    bottom: 200px;


}

div.list-group d {

    position: relative;

    bottom: 200px;


}

div.list-group e {

    position: relative;

    bottom: 200px;


}


div.list-group f {

    position: relative;

    bottom: 200px;


}


div.list-group {
    background: white;
    margin: auto;

    box-shadow: 0 1px 3px rgba(0, 0, 255, 0.3), 0 1px 2px rgba(0, 0, 255, 0.3);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

div.list-group:hover {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 8px solid white;
    box-shadow: 0 14px 28px rgba(0, 0, 255, 0.3), 0 10px 10px rgba(0, 0, 255, 0.3);
}


p {
    text-align: justify;
}

@keyframes example {
    0% {
        border-left: 2px solid #ffffff;
    }
    25% {
        border-left: 3px solid #ffe6e6;
    }
    50% {
        border-left: 4px solid #4c4cff;
    }
    100% {
        border-left: 5px solid #1919ff;
    }
}

}