.container {
  padding: 2rem 0rem;
}

h4 {
  margin: 2rem 0rem 1rem;
}

.table-image {
  td, th {
    vertical-align: middle;
  }
}

#map {
    width: 555px;
    height: 400px;
    background-color: #CCC;
  }

.starshome{
	text-align: center;
	margin-bottom: 10px;
}

.searchbar {
	text-align: right;
}

.seehotel {
	text-align: center;
}