<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{|css/contact-form.css|}"/>
</head>
<body>
<form action="form_2" th:action="@{/send/contact-message}" th:object="${Contact}" method="post">


    <div class="container">
        <div class="contact-img">
            <img src="img/contact.jpg">
        </div>

        <div class="wrap-contact">
            <form class="contact-form validate-form">
				<span class="form-title">
					Contact Us
				</span>

                <div class="wrap validate-input" data-validate="Name is required">
                    <span class="label-input">Name</span>
                    <p><input class="input" type="text" name="name" placeholder="Name..." th:field="*{sender}">
                    <p>
                        <span class="focus-input"></span>
                </div>

                <div class="wrap validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <span class="label-input">Email</span>
                    <p><input class="input" type="text" name="email" placeholder="Email addess..."
                              th:field="*{emailAddress}">
                    <p>
                        <span class="focus-input"></span>
                </div>

                <div class="wrap">
                    <span class="label-input">Phone</span>
                    <p><input class="input" type="text" name="phone" placeholder="Phone Number..."
                              th:field="*{phone}">
                    <p>
                        <span class="focus-input"></span>
                </div>

                <div class="wrap validate-input" data-validate="Message is required">
                    <span class="label-input">Message</span>
                    <p><textarea class="input" name="message" placeholder="Questions/Comments..."
                                 th:field="*{message}"></textarea>
                    <p>
                        <span class="focus-input"></span>
                </div>

                <div class="container-form-btn">
                    <div class="wrap-form-btn">
                        <div class="form-bgbtn"></div>
                        <button class="form-btn">
                            Send
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
</html>
