<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Message from user</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{|css/email-template.css|}"/>

</head>
<body>
<table width="100%" cellpadding="0" cellspacing="0" bgcolor="0095cc">
    <tr>
        <td height="50" align="center">
            <h5 >Mail from: </h5>
        <h5 th:text="${user.username}">Sender</h5></td>
    </tr>

    <tr bgcolor="ffffff">
        <td height="10" align="center">
            <h3>User id:</h3>
            <h3 th:text="${user.id}">Name</h3></td>
    </tr>
    <tr bgcolor="ffffff">
        <td height="10" align="center">
            <h3>Phone number : </h3>
            <h3 th:text="${contact.phone}">Name</h3></td>
    </tr>



    <tr bgcolor="ffffff">
        <td height="10" align="center">

        <h3>Email adress:</h3>
        <h3 th:text="${contact.emailAddress}">Name</h3></td>
    </tr>

    <tr bgcolor="ffffff">
        <td height="10" align="center"><h2 th:text="${contact.title}">Title</h2></td>
    </tr>
    <tr bgcolor="ffffff">
        <td height="10" align="center"><h3 th:text="${contact.message}">Message</h3></td>
    </tr>
</table>
</body>
</html>





















