<!doctype html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Admin Newsletter form</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" th:href="@{|css/contact-form.css|}"/>
</head>
<body>
<form action="form_2" th:action="@{/newsletterSend}" th:object="${Email}" method="post">
    <div class="container">
        <div class="contact-img">
            <img src="img/contact.jpg">
        </div>
        <div class="wrap-contact">
            <form class="contact-form validate-form">
				<span class="form-title">
					Admin Newsletter
				</span>
                <div class="wrap validate-input" data-validate="Header is required">
                    <span class="label-input">Header</span>
                    <p><input class="input" type="text" name="header" placeholder="header..." th:field="*{header}">
                    <p>
                        <span class="focus-input"></span>
                </div>
                <div class="wrap validate-input" data-validate="Title required">
                    <span class="label-input">Title</span>
                    <p><input class="input" type="text" name="email" placeholder="title"
                              th:field="*{title}">
                    <p>
                        <span class="focus-input"></span>
                </div>
                <div class="wrap validate-input" data-validate="Message is required">
                    <span class="label-input">Message</span>
                    <p><textarea class="input" name="message" placeholder="Message..."
                                 th:field="*{message}"></textarea>
                    <p>
                        <span class="focus-input"></span>
                </div>
                <div class="container-form-btn">
                    <div class="wrap-form-btn">
                        <div class="form-bgbtn"></div>
                        <button class="form-btn">
                            Send
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</body>
</html>









